version: "3.9"

# ==================================================
# ENV Variables
# ==================================================
x-environment: &default-env
  DJANGO_SETTINGS_MODULE: crvslearning.settings
  PYTHONUNBUFFERED: "1"
  REDIS_URL: redis://redis:6379/0
  MEETING_BASE_URL: ${MEETING_BASE_URL:-https://meet.etatcivil.cm}
  WEBHOOK_TOKEN: ${WEBHOOK_TOKEN:-}


services:
# ==================================================
# crvsLearning AppWeb
# ==================================================
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: web
    env_file:
      - .env
    environment:
      <<: *default-env
    depends_on:
      - redis
    volumes:
      - ./:/app:rw
      - staticfiles:/app/staticfiles
      - media:/app/media
    expose:
      - "8000"
    networks:
      - app_net

# ==================================================
# redis
# ==================================================
  redis:
    image: redis:7-alpine
    volumes:
      - redisdata:/data
    networks:
      - app_net

# ==================================================
# Nginx (Frontal unique)
# ==================================================
  nginx:
    image: nginx:1.27-alpine
    container_name: proxy
    depends_on:
      - web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./deploy/nginx/:/etc/nginx/conf.d/:ro
      - staticfiles:/staticfiles:ro
      - media:/media:ro
      - ./deploy/jibri/recordings:/recordings:ro
    networks:
      - crvslearning
      - app_net
      - jitsi_net


volumes:
  staticfiles:
  media:
  redisdata:

networks:
  crvslearning:
    external: true

  app_net:
    internal: true

  jitsi_net:
    internal: true
