version: "3.9"

x-environment: &default-env
  DJANGO_SETTINGS_MODULE: crvslearning.settings
  PYTHONUNBUFFERED: "1"
  REDIS_URL: redis://redis:6379/0
  MEETING_BASE_URL: ${MEETING_BASE_URL:-https://meet.etatcivil.cm}
  WEBHOOK_TOKEN: ${WEBHOOK_TOKEN:-}

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      <<: *default-env
    depends_on:
      - redis
    volumes:
      - ./:/app:rw
      - staticfiles:/app/staticfiles
      - media:/app/media
    expose:
      - "8000"
    networks:
      - app_net

  redis:
    image: redis:7-alpine
    volumes:
      - redisdata:/data
    networks:
      - app_net

  nginx:
    image: nginx:1.27-alpine
    depends_on:
      - web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./deploy/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - staticfiles:/staticfiles:ro
      - media:/media:ro
      - ./deploy/jibri/recordings:/recordings:ro
    networks:
      - crvslearning
      - app_net
      - jitsi_net

volumes:
  staticfiles:
  media:
  redisdata:

networks:
  crvslearning:
    external: true

  app_net:
    internal: true

  jitsi_net:
    internal: true
