version: "3.9"

# ==================================================
# ENV Variables
# ==================================================
x-environment: &default-env
  DJANGO_SETTINGS_MODULE: crvslearning.settings
  PYTHONUNBUFFERED: "1"
  REDIS_URL: redis://redis:6379/0
  MEETING_BASE_URL: ${MEETING_BASE_URL:-https://meet.etatcivil.cm}
  WEBHOOK_TOKEN: ${WEBHOOK_TOKEN:-}

services:
# ==================================================
# crvsLearning AppWeb (Django)
# ==================================================
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: web
    env_file:
      - .env
    environment:
      <<: *default-env
    depends_on:
      - redis
      - postgres
    volumes:
      - ./:/app:rw
      - staticfiles:/app/staticfiles
      - media:/app/media
    ports:
      - "8000:8000"
    networks:
      - app_net

# ==================================================
# PostgreSQL
# ==================================================
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-crvslearning}
      POSTGRES_USER: ${POSTGRES_USER:-crvsuser}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-crvspassword}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"   # optionnel (utile pour accès externe / debug)
    networks:
      - app_net

# ==================================================
# Redis
# ==================================================
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    volumes:
      - redisdata:/data
    networks:
      - app_net

# ==================================================
# Nginx (désactivé pour l’instant)
# ==================================================
  # nginx:
  #   image: nginx:1.27-alpine
  #   container_name: proxy
  #   depends_on:
  #     - web
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #   volumes:
  #     - ./deploy/nginx/:/etc/nginx/conf.d/:ro
  #     - staticfiles:/staticfiles:ro
  #     - media:/media:ro
  #     - ./deploy/jibri/recordings:/recordings:ro
  #   networks:
  #     - crvslearning
  #     - app_net
  #     - jitsi_net

volumes:
  staticfiles:
  media:
  redisdata:
  pgdata:

networks:
  crvslearning:
    external: true

  app_net: {}

  jitsi_net:
    internal: true
