{% extends 'registration/base.html' %}

{% block form %}
<form method="post" novalidate>
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}">
  
  <div class="form-group">
    <label for="id_username">Username</label>
    <input type="text" name="username" class="form-control" id="id_username" required>
  </div>
  
  <div class="form-group">
    <label for="id_password">Password</label>
    <input type="password" name="password" class="form-control" id="id_password" required>
  </div>
  
  {% if form.errors %}
    <div class="alert alert-danger">
      Your username and password didn't match. Please try again.
    </div>
  {% endif %}
  
  <button type="submit" class="btn btn-primary btn-block">Log in</button>
  
  <div class="login-or">
    <hr class="hr-or">
    <span class="span-or">or</span>
  </div>
  
  <p class="text-center">Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
</form>
{% endblock form %}

