{% extends 'registration/base.html' %}

{% block col_class %}col-md-6 col-sm-12 offset-md-3{% endblock col_class %}
{% block cardheader %}Sign up{% endblock cardheader %}

{% block form %}
<form method="post" novalidate>
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}">
  
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}
  
  {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    </div>
  {% endfor %}
  
  <button type="submit" class="btn btn-success btn-block">Create an account</button>
  
  <div class="login-or">
    <hr class="hr-or">
    <span class="span-or">or</span>
  </div>
  
  <p class="text-center"><a href="{% url 'login' %}">Already have an account?</a></p>
</form>
{% endblock form %}